node_modules
.env
coverage
coverage.json
typechain
typechain-types
deployments
abi
notused

#Hardhat files
cache
artifacts

.DS_Store
.env.development
.openzeppelin/polygon-mumbai.json
.openzeppelin/unknown-31337.json
.vs/akxtoken/FileContentIndex/0d5fb6c5-874d-44ac-96a6-d4b91a30ffea.vsidx
.vs/akxtoken/FileContentIndex/b27cb6cf-ac4f-48ad-abb2-a0fa725563a4.vsidx
.vs/akxtoken/FileContentIndex/ba4e5346-1fdf-4d07-ba8e-31d56941bad9.vsidx
.vs/akxtoken/FileContentIndex/c59de4fe-61b5-4ef6-8011-6f4e7fe850d5.vsidx
.vs/akxtoken/FileContentIndex/read.lock
.vs/akxtoken/v17/.suo
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
solidity/
slither1.json
UserSBT/ISBT.sol
UserSBT/SBT.sol
UserSBT/UserController.sol
UserSBT/UserFactory.sol
UserSBT/UserMetadata.sol
notused/Activators/ServiceActivator.sol
notused/AKXStatus.sol
notused/Auth.sol
notused/Errors.sol
notused/LABZVipSale.sol
notused/Logger.sol
notused/Sales/VIPWallet.sol
notused/Sales/VIPWalletFactory.sol
scripts/deploy.ts
akx3/
deployments/mumbai/.chainId
deployments/mumbai/AKXPriceOracle.json
deployments/mumbai/LABZ.json
deployments/mumbai/solcInputs/734245e13d793b967a32de6930b132b1.json
deployments/mumbai/solcInputs/8fe4f8caab379790f8becb04cca46cee.json
deployments/mumbai/solcInputs/9d27a1de104d6b65d1101cd81b6e0363.json
deployments/mumbai/solcInputs/a320c452a30a8ca32a039ad58e8465d7.json
deployments/mumbai/solcInputs/eb443aefd5413b446cc5dae2c771893e.json
deployments/mumbai/solcInputs/fb6a3d94f46fd84431d25547cc3dbae8.json
deployments/mumbai/VipNfts.json
addresses/presaleAKX.json
addresses/presaleAKXPriceOracle.json
addresses/presaleLABZ.json
addresses/presaleNFT.json
